body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
    text-align: center;
}

nav {
    padding: 20px;
    background: #111;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 28px;
    color: #00ffcc;
    padding: 0 20px;
}

.btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: #00ffcc;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card {
    background: #111;
    margin: 10px;
    padding: 15px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 120px;
    margin: 10px;
    border-radius: 10px;
}

.fade {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    .galeria img {
        width: 90px;
    }
}

.fade-out {
    opacity: 0;
}